version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./backend/src:/app/src
      - /app/node_modules
      - ./downloads:/app/downloads
    environment:
      - NODE_ENV=development
      - DOWNLOAD_DIR=/app/downloads
